<div class="container-fluid fixed-bottom" style="background:rgb(206, 217, 252)">
  <div class="row justify-content-center pt-2">
      <div class="col-1">
        <fa name="facebook-square fa-lg" style="color:midnightblue"></fa>
      </div>
      <div class="col-1">
        <fa name="twitter-square fa-lg" style="color:midnightblue"></fa>
      </div>
      <div class="col-1">
        <fa name="youtube fa-lg" style="color:midnightblue"></fa>
      </div>
      <div class="col-1">
        <fa name="instagram fa-lg" style="color:midnightblue"></fa>
      </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-2">
      <h6 style="color:midnightblue">Contatti</h6>
    </div>
    <div class="col-2">
      <h6 style="color:midnightblue">Riepilogo Sito</h6>
    </div>
  </div>
  <div class="row" style="background:midnightblue; height:10px">
  </div>
  <div class="row mt-3 justify-content-center">
    <h6 style="color:midnightblue">Copryght @ Our Company. All rights reserved.</h6>
  </div>
</div>
