/src/main/java/com/example/universitySE/domain/
/src/main/resources/
*.gradle
*.properties
SpringMicroservices/universitySE/src/main/resources/application.properties
SpringMicroservices/universitySE/build.gradle
