SpringMicroservices/universitySE/src/main/java/com/example/universitySE/domain/
SpringMicroservices/universitySE/src/main/resources/
SpringMicroservices/universitySE/build.gradle
SpringMicroservices/universitySE/src/main/java/com/example/universitySE/entities/
SpringMicroservices/universitySE/src/main/java/com/example/universitySE/services/
SpringMicroservices/universitySE/src/main/java/com/example/universitySE/interfaces/
