<div class="container-fluid">
  <div class="row" id="reporting" *ngIf="(supportMaterial.length>0 || classroomGetted.length>0); else exception">
    <div class="col-12 p-0 text-center">
      <h1 style="font-size:2.7vw; font-weight: bold; color: lightcyan">Welcome in your Reporting Page Prof. {{lastname}}</h1>
      <h2 style="font-size:2.7vw; font-weight: bold; color: lightcyan">Make your report:</h2>
      <div>
        <form name="signupForm" #f="ngForm" (ngSubmit)="reporting(f)">
          <div class="row ml-5 mr-5">
            <div class="col-3"></div>
            <div class="col-6 col-offset-3">
              <div class="form-group small">
                <label for="note"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: gray()">Note</h4></label>
                <textarea required class="form-control" type="note" rows="3" ngModel #note="ngModel" name="note" id="note"></textarea>
              </div>
              <div *ngIf="note.invalid && (note.dirty || note.touched)">
                <div class="alert-warning small" *ngIf="note.errors['required']">
                  You must set a Note!
                </div>
              </div>
            </div>
          </div>
          <div class="row ml-5 mr-5">
            <div class="col-3"></div>
            <div class="col-6 col-offset-3">
              <div class="form-group small">
                <label for="selectmaterial"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: gray()">SelectMaterial</h4></label>
                <select class="form-control" id="selectmaterial" required ngModel #selectmaterial="ngModel" name="selectmaterial">
                  <option [value]="material.id" *ngFor="let material of supportMaterial">{{material.name}}</option>
                </select>
              </div>
              <div *ngIf="selectmaterial.invalid && (selectmaterial.dirty || selectmaterial.touched)">
                <div class="alert-warning small" *ngIf="selectmaterial.errors['required']">
                  You must choose a Material!
                </div>
              </div>
            </div>
          </div>

          <div class="row ml-5 mr-5">
            <div class="col-3"></div>
            <div class="col-6 col-offset-3">
              <div class="form-group small">
                <label for="classroom"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: gray()">Classroom</h4></label>
                <select class="form-control" id="classroom" required ngModel #classroom="ngModel" name="classroom">
                  <option [value]="classroom.id" *ngFor="let classroom of classroomGetted">{{classroom.name}}</option>
                </select>
              </div>
              <div *ngIf="classroom.invalid && (classroom.dirty || classroom.touched)">
                <div class="alert-warning small" *ngIf="classroom.errors['required']">
                  You must choose a Classroom!
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group align-content-sm-center">
                <button [disabled]="!f.valid" class="btn btn-success">Insert</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #exception>
    <div class="form-group align-content-sm-center text-center">
      <h4 class="text-credential label-auth" style="font-size:2.7vw; font-weight: bold; color: black">Service not available try again later!</h4>
    </div>
  </ng-template>
</div>
