<nav class="navbar navbar-expand-lg navbar-light rounded">
  <div class="navbar-brand">
    <i class="fas fa-graduation-cap fa-2x" style="color: white"></i>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars fa-1x" style="color: white;"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!checkPerson.logged">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown" *ngIf="checkPerson.type === secretary">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="goToInsertStudyCourse()" style="color: black">Course of Study</a>
          <a class="dropdown-item" (click)="goToInsertSubject()" style="color: black">Subject</a>
          <a class="dropdown-item" (click)="goToInsertUser()" style="color: black">User</a>
          <a class="dropdown-item" (click)="goToInsertActivity()" style="color: black">Activity</a>
          <a class="dropdown-item" (click)="goToInsertClassroom()" style="color: black">Classroom</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="checkPerson.type === secretary">
        <a class="nav-link" (click)="goToReportings()">Reporting</a>
      </li>
      <li class="nav-item" *ngIf="checkPerson.type === secretary">
        <a class="nav-link" (click)="goToDidacticCalendar()">Didactic Calendar</a>
      </li>
      <li class="nav-item" *ngIf="checkPerson.type === professor">
        <a class="nav-link" (click)="goToProfile()">Profile</a>
      </li>
      <li class="nav-item" *ngIf="checkPerson.type === professor">
        <a class="nav-link" (click)="goToUploadMaterial()">Upload Material</a>
      </li>
      <li class="nav-item" *ngIf="checkPerson.type === professor">
        <a class="nav-link" (click)="goToNotifications()">Reporting</a>
      </li>
      <li class="nav-item" *ngIf="checkPerson.type === professor">
        <a class="nav-link" (click)="viewNotifications()">View Reporting</a>
      </li>
    </ul>
  </div>
</nav>
