<nav class="navbar navbar-expand-lg navbar-light rounded">
  <div class="navbar-brand">
    <fa name="graduation-cap fa-lg" style="color: white"></fa>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <fa name="bars fa-lg" style="color: white;"></fa>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Facoltà
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Medicina e Chirurgia</a>
          <a class="dropdown-item" href="#">Ingegneria dell'Informazione</a>
          <a class="dropdown-item" href="#">Giurisprudenza</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Docenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Calendario Didattico</a>
      </li>
    </ul>
  </div>
</nav>
