<div class="container-fluid">
  <div class="row" id="didacticcalendar">
    <div class="col-12 p-0 text-center">
      <h1 style="font-size:2.7vw; font-weight: bold; color: black">Set a classroom for the following activities</h1>
      <div class="row ml-5 mr-5">
        <div class="col-2"></div>
        <div class="col-8 col-offset-2">
          <table>
            <tr style="font-size:2vw; font-weight: bold; color: black">
              <th>Study Course (Faculty)</th>
              <th>Subject</th>
              <th>Professor</th>
              <th>Start - End</th>
              <th>Type</th>
            </tr>
            <tr *ngFor="let a of activitiesWithoutClassroom">
              <td style="font-size:1.7vw; font-weight: bold; color: lightcyan">{{a.studyCourseModel.name}} ({{a.studyCourseModel.faculty.name}})</td>
              <td style="font-size:1.7vw; font-weight: bold; color: lightcyan">{{a.subjectCalendarModel.name}}</td>
              <td style="font-size:1.7vw; font-weight: bold; color: lightcyan">{{a.professorCalendarModel.lastname}}, {{a.professorCalendarModel.firstname}}</td>
              <td style="font-size:1.7vw; font-weight: bold; color: lightcyan">{{a.start}} - {{a.end}}</td>
              <td style="font-size:1.7vw; font-weight: bold; color: lightcyan; text-decoration: underline">{{a.activityCalendarModel.name}}</td>
            </tr>
          </table>
        </div>
      </div>

      <h1 style="font-size:2.7vw; font-weight: bold; color: black">Didactic Calendar</h1>
      <div class="row ml-5 mr-5">
        <div class="col-10 col-offset-1">
          <table>
            <tr style="font-size:1.5vw; font-weight: bold; color: navy">
              <th>Subject</th>
              <th>Course of Study (Faculty)</th>
              <th>Professor</th>
              <th>Activity Type</th>
              <th>Start - End</th>
              <th>Classroom</th>
            </tr>
            <tr *ngFor="let c of calendar">
              <td style="font-size:1vw; font-weight: bold; color: black">{{c.subjectCalendarModel.name}}</td>
              <td style="font-size:1vw; font-weight: bold; color: black">{{c.studyCourseModel.name}} ({{c.studyCourseModel.faculty.name}})</td>
              <td style="font-size:1vw; font-weight: bold; color: black">{{c.professorCalendarModel.lastname}}, {{c.professorCalendarModel.firstname}}</td>
              <td style="font-size:1vw; font-weight: bold; color: black">{{c.activityCalendarModel.name.name}}</td>
              <td style="font-size:1vw; font-weight: bold; color: black">{{c.start}} - {{c.end}}</td>
              <td style="font-size:1vw; font-weight: bold; color: black; text-decoration: underline">{{c.classroomModel.name}}
                <button class="btn btn-success" (click)="onSelect(c.id, c.activityCalendarModel.id)">Change</button>
              </td>
            </tr>
          </table>
        </div>

        <div *ngIf="show" class="row mt-2">
          <div class="col-12">
            <div class="form-group align-content-sm-center">
              <label for="classroom"><h4 style="font-size:1vw; font-weight: bold; color: navy">Select the new classroom</h4></label>
              <select class="form-control" id="classroom" required ngModel #classroom="ngModel" name="classroom">
                <option [value]="cr.id" *ngFor="let cr of classrooms">{{cr.name}}</option>
              </select>
            </div>
            <button class="btn btn-success" (click)="sending(classroom.value)">Set</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
