<div class="container-fluid">
  <div class="row" id="professor">
    <div class="col-3 p-0">
      <img class="card-img-top" src="../../../assets/images/professor.png">
    </div>
    <div class="col-9 pt-4">
      <h2 style="font-size:2.7vw; font-weight: bold;">Welcome Professor this is your Welcome Page!</h2>
      <h1 class="attribute-professor" style="font-size:2vw;">Username/Email: <span class="values">{{professor.username}}</span></h1>
      <h1 class="attribute-professor" style="font-size:2vw;">Firstname: <span class="values">{{professor.firstname}}</span></h1>
      <h1 class="attribute-professor" style="font-size:2vw;">Lastname: <span class="values">{{professor.lastname}}</span></h1>
      <div *ngIf="professor.subject">
        <h1 class="attribute-professor" style="font-size:2vw;">Subject: <span class="values">{{professor.subject.name}}</span></h1>
      </div>
      <h1 class="attribute-professor" style="font-size:2vw;">Biography: <span class="values">{{professor.biography}}</span></h1>
      <h1 class="attribute-professor" style="font-size:2vw;">Reception Time: <span class="values">{{professor.receptiontime}}</span></h1>
    </div>
  </div>
</div>
