#professor {
  background-image: url("../../../assets/images/background-professor.jpeg");
  width: auto;
  height: auto;
}

.attribute-professor {
  font-size:2.3vw;
}

.values {
  background: transparent;
  color: #005CFC;
}
