<div class="container-fluid">
  <div class="row" id="insertsubject">
    <div class="col-12 p-0 text-center">
      <h1 style="font-size:2.7vw; font-weight: bold; color: black">Insert the new Subject using the form below.</h1>
      <div>
        <form name="signupForm" #f="ngForm" (ngSubmit)="sending(f)">

          <div class="row ml-5 mr-5">
            <div class="col-3"></div>
            <div class="col-6 col-offset-3">
              <div class="form-group small">
                <label for="name"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Name</h4></label>
                <textarea required class="form-control" type="name" rows="1" ngModel #name="ngModel" name="name" id="name"></textarea>
              </div>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="alert-warning small" *ngIf="name.errors['required']">
                  You must set a name!
                </div>
              </div>
            </div>
          </div>

          <div class="row ml-5 mr-5">
            <div class="col-3"></div>
            <div class="col-6 col-offset-3">
              <div class="form-group small">
                <label for="course"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Select the course of study</h4></label>
                <select class="form-control" id="course" required ngModel #course="ngModel" name="course">
                  <option [value]="c.id" *ngFor="let c of studyCourses">{{c.name}}</option>
                </select>
              </div>
              <div *ngIf="course.invalid && (course.dirty || course.touched)">
                <div class="alert-warning small" *ngIf="course.errors['required']">
                  You must choose a course of study!
                </div>
              </div>
            </div>
          </div>

          <div class="row ml-5 mr-5">
            <div class="col-3"></div>
            <div class="col-6 col-offset-3">
              <div class="form-group small">
                <label for="year"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Year of the course</h4></label>
                <textarea required class="form-control" type="year" rows="1" ngModel #year="ngModel" name="year" id="year"></textarea>
              </div>
              <div *ngIf="year.invalid && (year.dirty || year.touched)">
                <div class="alert-warning small" *ngIf="year.errors['required']">
                  You must set a year!
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <div class="form-group align-content-sm-center">
                <button [disabled]="!f.valid" class="btn btn-success" type="submit">Insert</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
