<div class="container-fluid">
  <div class="row" id="detailsecretaryreporting">
    <div class="col-12 p-0 text-center">
      <h1 style="font-size:2.7vw; font-weight: bold; color: black">Selected reporting: </h1>
      <div class="row ml-5 mr-5">
        <div class="col-2"></div>
        <div class="col-8 col-offset-2 text-left">
          <h3 style="font-size:1.7vw; font-weight: bold; color: lightcyan">Classroom: {{reporting.classroom.name}}</h3>
          <h3 style="font-size:1.7vw; font-weight: bold; color: lightcyan">Professor: {{reporting.professor.lastname}}, {{reporting.professor.firstname}}</h3>
          <h3 style="font-size:1.7vw; font-weight: bold; color: lightcyan">Note from the professor: {{reporting.noteProf}}</h3>
          <h3 style="font-size:1.7vw; font-weight: bold; color: lightcyan">Support Material: {{reporting.supportMaterial.name}}</h3>
          <h3 style="font-size:1.7vw; font-weight: bold; color: lightcyan">State of the reporting: {{reporting.state.name}}</h3>
          <h3 *ngIf="sec" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Note from the secretary: {{reporting.noteSec}}</h3>
          <h3 *ngIf="sec" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Secretary of: {{reporting.secretary.faculty.name}}</h3>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <div class="form-group align-content-sm-center">
              <button class="btn btn-success" (click)="showForm()">Change state</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row ml-5 mr-5 text-center">
        <div class="col-2"></div>
        <div class="col-8 col-offset-2">
          <form *ngIf="show" name="signupForm" #f="ngForm" (ngSubmit)="sending(f)">

            <div class="row ml-5 mr-5">
              <div class="col-3"></div>
              <div class="col-6 col-offset-3">
                <div class="form-group small">
                  <label for="state"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Select the state</h4></label>
                  <select class="form-control" id="state" required ngModel #state="ngModel" name="state">
                    <option [value]="s.id" *ngFor="let s of states">{{s.name}}</option>
                  </select>
                </div>
                <div *ngIf="state.invalid && (state.dirty || state.touched)">
                  <div class="alert-warning small" *ngIf="state.errors['required']">
                    You must choose a type for the activity!
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group small">
              <label for="note"><h4 class="text-credential label-auth" style="font-size:1.7vw; font-weight: bold; color: lightcyan">Note</h4></label>
              <textarea required class="form-control" type="note" rows="1" ngModel #note="ngModel" name="note" id="note"></textarea>
            </div>
            <div *ngIf="note.invalid && (note.dirty || note.touched)">
              <div class="alert-warning small" *ngIf="note.errors['required']">
                You must set a name!
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <div class="form-group align-content-sm-center">
                  <button  [disabled]="!f.valid" class="btn btn-success" type="submit">Confirm</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
