.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/SpringMicroservices/universitySE/src/main/java/com/example/universitySE/domain/
/SpringMicroservices/universitySE/src/main/resources/
/SpringMicroservices/universitySE/build.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/